%ul.search-engine-results
  %li
    =gravatar_for(@comment.post.account, {:size=>"30x30"})
    ="user name #{@comment.post.account.user_name}"
    ="Has been a member for #{time_ago_in_words(@comment.post.account.created_at)}"
    =@comment.comment
    .date
      =post_date(@comment)
