.row
  .col-md-8.home-image
    -@posts.each do |post|
      .home-image-item
        =link_to(image_tag("#{post.image}",size:150), url_for("blog/show/#{post.slug}"),
        :class => 'fancybox',
        :rel=>'group1')

